@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
#bodyCont {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #080325;
}
#bodyCont #loginCont {
  font-family: "Raleway", sans-serif;
  font-size: inherit;
  border-radius: 20px;
  height: 30rem;
  padding: 2.8rem;
  margin: 1.5rem;
  background-color: #4F46E5;
  color: white;
  display: flex;
  flex-direction: row;
}
#bodyCont #loginCont #alert {
  padding-top: 1rem;
  opacity: 50%;
}

.userInputCont {
  display: flex;
  flex-direction: column;
}
.userInputCont .user-inp {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.userInputCont input {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px;
  max-width: 20rem;
}
.userInputCont #btnCont {
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.userInputCont #btnCont .loginBtn {
  padding: 0.8rem;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  color: white;
  background-color: #4F46E5;
  font-family: "Raleway", sans-serif;
  border-radius: 10px;
  border: 0.5px solid white;
  outline: none;
}

#link-tags {
  color: white;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}
#link-tags a {
  color: white;
  text-decoration: none;
}

.imageCont {
  display: flex;
  align-items: center;
  padding-right: 0;
  padding-left: 3rem;
}
.imageCont #savePiggy {
  width: 40rem;
  border-radius: 10px;
}

@media screen and (max-width: 970px) {
  #bodyCont {
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #080325;
  }
  #bodyCont #loginCont {
    font-family: "Raleway", sans-serif;
    font-size: inherit;
    border-radius: 20px;
    height: 30rem;
    padding: 2.8rem;
    margin: 1.5rem;
    background-color: #4F46E5;
    color: white;
    display: flex;
    flex-direction: row;
  }
  #bodyCont #loginCont #alert {
    padding-top: 1rem;
    opacity: 50%;
  }
  .userInputCont {
    display: flex;
    flex-direction: column;
  }
  .userInputCont .user-inp {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
  .userInputCont input {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
    max-width: 20rem;
  }
  .userInputCont #btnCont {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  .userInputCont #btnCont .loginBtn {
    padding: 0.8rem;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    color: white;
    background-color: #4F46E5;
    font-family: "Raleway", sans-serif;
    border-radius: 10px;
    border: 0.5px solid white;
    outline: none;
  }
  #link-tags {
    color: white;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  #link-tags a {
    color: white;
    text-decoration: none;
    padding-top: 10px;
  }
  .imageCont {
    display: flex;
    align-items: center;
    padding-right: 0;
    padding-left: 3rem;
  }
  .imageCont #savePiggy {
    width: 30rem;
    border-radius: 10px;
  }
}
@media screen and (max-width: 870px) {
  #bodyCont {
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #080325;
  }
  #bodyCont #loginCont {
    font-family: "Raleway", sans-serif;
    font-size: inherit;
    border-radius: 20px;
    height: 30rem;
    padding: 2.8rem;
    margin: 1.5rem;
    background-color: #4F46E5;
    color: white;
    display: flex;
    flex-direction: row;
  }
  #bodyCont #loginCont #alert {
    padding-top: 1rem;
    opacity: 50%;
  }
  .userInputCont {
    display: flex;
    flex-direction: column;
  }
  .userInputCont .user-inp {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
  .userInputCont input {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
    max-width: 20rem;
  }
  .userInputCont #btnCont {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  .userInputCont #btnCont .loginBtn {
    padding: 0.8rem;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    color: white;
    background-color: #4F46E5;
    font-family: "Raleway", sans-serif;
    border-radius: 10px;
    border: 0.5px solid white;
    outline: none;
  }
  #link-tags {
    color: white;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  #link-tags a {
    color: white;
    text-decoration: none;
    padding-top: 10px;
  }
  .imageCont {
    display: flex;
    align-items: center;
    padding-right: 0;
    padding-left: 3rem;
  }
  .imageCont #savePiggy {
    width: 20rem;
    border-radius: 10px;
  }
}
@media screen and (max-width: 768px) {
  #bodyCont {
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
  }
  #bodyCont #loginCont {
    border-radius: 20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 2rem;
    padding: 2.8rem;
    background-color: #4F46E5;
    color: white;
  }
  #bodyCont #loginCont #alert {
    padding-top: 2rem;
  }
  .userInputCont {
    display: flex;
    flex-direction: column;
  }
  .userInputCont .user-inp {
    padding: 1rem;
    padding-right: 0;
    padding-left: 0;
  }
  .userInputCont input {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
  }
  .userInputCont #btnCont {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .userInputCont #btnCont .loginBtn {
    padding: 0.8rem;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    color: white;
    background-color: #4F46E5;
    font-family: "Raleway", sans-serif;
    border-radius: 10px;
    border: 0.5px solid white;
    outline: none;
  }
  #link-tags {
    color: white;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  #link-tags a {
    color: white;
    text-decoration: none;
  }
  .imageCont {
    display: none;
  }
  .imageCont #savePiggy {
    display: none;
  }
}
body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  #bodyCont {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  #bodyCont #regCont {
    border-radius: 20px;
    flex-direction: column;
    margin: 2rem;
    padding: 2.8rem;
    background-color: blue;
    color: white;
  }
  #bodyCont #regCont #alert {
    padding-top: 2rem;
  }
  .userInputCont {
    display: flex;
    flex-direction: column;
  }
  .userInputCont .user-inp-reg {
    padding: 1rem;
  }
  .userInputCont input {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
  }
  .userInputCont #btnCont {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #link-tags {
    color: white;
    padding-top: 2rem;
    display: flex;
  }
  #link-tags a {
    color: white;
    text-decoration: none;
  }
}/*# sourceMappingURL=styles.css.map */